snippet odsp
    export type OwnProps = {|

    |};

    export type DispatchProps = {|

    |};

    export type StateProps = {|

    |};

    export type Props = {|
      ...OwnProps,
      ...DispatchProps,
      ...StateProps,
    |};
